.about {
    font-size: 2rem;
    color: $accent;
    padding: 100px 0 200px;
    
    h3 {
        text-align: center;
        padding: 60px;
        font-size: 5rem;
    }

    p {
        margin: 0 100px;

        a {
            color: $second;
            font-weight: bold;
            transition: color 0.4s;

            &:hover {
                color: $primary;
                font-style: italic;
            }

            &:focus {
                outline: 3px dotted $accent;
                outline-offset: 7px;
            }
        }
    }
}