article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.hide:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  line-height: 25px;
  letter-spacing: 1px;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 3px dotted white;
  outline-offset: 7px;
}

main {
  background: black;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  width: 300px;
  height: 50%;
  background: #28123f;
  position: fixed;
  top: -250px;
  right: -210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 0 0 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar .hamMenu {
  width: 35px;
  height: 30px;
  position: fixed;
  top: 25px;
  right: 25px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #28123f;
  border: none;
}

.navbar .hamMenu .line {
  width: 100%;
  height: 4px;
  background: #604f1c;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.navbar .hamMenu .change1 {
  -webkit-transform: rotateZ(-405deg) translate(-8px, 6px);
          transform: rotateZ(-405deg) translate(-8px, 6px);
}

.navbar .hamMenu .change2 {
  opacity: 0;
}

.navbar .hamMenu .change3 {
  -webkit-transform: rotateZ(405deg) translate(-8px, -6px);
          transform: rotateZ(405deg) translate(-8px, -6px);
}

.navbar .navList .navItem {
  margin: 20px;
  position: relative;
}

.navbar .navList .navItem::before, .navbar .navList .navItem::after {
  content: "";
  width: 100%;
  height: 3px;
  background: #604f1c;
  position: absolute;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar .navList .navItem::before {
  top: -10px;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.navbar .navList .navItem::after {
  bottom: -3px;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.navbar .navList .navItem:hover::before, .navbar .navList .navItem:hover::after, .navbar .navList .navItem:focus::before, .navbar .navList .navItem:focus::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.navbar .navList .navItem .navLink {
  color: white;
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
}

.change {
  top: 0;
  right: 0;
}

.header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(40, 18, 63, 0.6)), to(rgba(96, 79, 28, 0.4))), url(../Assets/cityscape.jpg);
  background: linear-gradient(180deg, rgba(40, 18, 63, 0.6) 0%, rgba(96, 79, 28, 0.4) 100%), url(../Assets/cityscape.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  line-height: 10rem;
}

.header h1 {
  font-size: 10rem;
  padding: 20px;
  border-bottom: 4px solid white;
}

.header h2 {
  font-size: 5rem;
}

.about {
  font-size: 2rem;
  color: white;
  padding: 100px 0 200px;
}

.about h3 {
  text-align: center;
  padding: 60px;
  font-size: 5rem;
}

.about p {
  margin: 0 100px;
}

.about p a {
  color: #604f1c;
  font-weight: bold;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.about p a:hover {
  color: #28123f;
  font-style: italic;
}

.about p a:focus {
  outline: 3px dotted white;
  outline-offset: 7px;
}

.skills {
  font-size: 3rem;
  margin: 20px 60px;
  text-align: center;
}

.skills h3 {
  text-align: center;
  font-size: 5rem;
}

.skills ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  padding: 100px;
  grid-gap: 20px;
}

.skills .flip-card {
  background-color: transparent;
  width: 200px;
  height: 125px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  margin: 10px auto;
}

.skills .flip-card .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.skills .flip-card .flip-card-inner .flip-card-front, .skills .flip-card .flip-card-inner .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.skills .flip-card .flip-card-inner .flip-card-front {
  color: white;
  background: black;
}

.skills .flip-card .flip-card-inner .flip-card-front i {
  font-size: 10rem;
}

.skills .flip-card .flip-card-inner .flip-card-front img {
  width: 100px;
}

.skills .flip-card .flip-card-inner .flip-card-back {
  color: white;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  padding-top: 40px;
  line-height: 3rem;
}

.flip-card:hover .flip-card-inner, .flip-card:focus .flip-card-inner {
  -webkit-transform: rotateX(180deg) translateZ(-20px);
          transform: rotateX(180deg) translateZ(-20px);
}

.portfolio {
  color: white;
}

.portfolio h3 {
  text-align: center;
  font-size: 5rem;
}

.portfolio .portItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 50px;
  height: 500px;
  margin: 100px 0 0;
}

.portfolio .portItem img {
  border-radius: 10px;
}

.portfolio .portItem .portText {
  text-align: center;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 2.5rem;
  width: 80%;
}

.portfolio .portItem .portText h4 {
  font-size: 4rem;
}

.portfolio .portItem .portText p {
  text-align: left;
  width: 80%;
  margin: 0 auto;
}

.portfolio .portItem .portText ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .portItem .portText ul li {
  border-right: 2px solid white;
  padding: 0 20px;
}

.portfolio .portItem .portText ul li a {
  color: #604f1c;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.portfolio .portItem .portText ul li a:hover {
  color: #28123f;
  font-style: italic;
}

.portfolio .portItem .portText ul li a:focus {
  outline: 3px dotted white;
  outline-offset: 7px;
}

.portfolio .portItem .portText ul li:last-of-type {
  border-right: none;
}

.contact {
  color: white;
  padding: 170px 0 80px;
}

.contact h3 {
  text-align: center;
  font-size: 4rem;
}

.contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  margin: 0px auto;
  padding: 150px 0 80px;
}

.contact ul a {
  font-size: 8rem;
  color: white;
  padding: 10px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 10px;
}

.contact ul a:hover, .contact ul a:focus {
  background: white;
  color: black;
}

footer {
  text-align: center;
  background: #28123f;
  color: #604f1c;
  padding: 25px;
}

footer h4 {
  font-size: 2rem;
}
